.container1 {
  width: 90%;
  margin: auto;
  max-width: 640px;
}

.bsod {
  padding-top: 10%;
}
.neg {
  text-align: center;
  color: #007bff;
}
.bg1 {
  padding: 0 15px 2px 13px;
}
.title {
  margin-bottom: 50px;
}
.nav1 {
  margin-top: 35px;
  text-align: center;
}
.link1 {
  text-decoration: none;
  padding: 0 9px 2px 8px;
}
.link1:hover,
.link1:focus {
  color: #007bff;
}
