.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

.custom-card {
  margin: 10px 0;
}

.custom-header {
  font-size: 1.2rem !important;
  font-weight: 600 !important;
  margin: 0 !important;
}

.custom-header-link {
  font-size: 1rem;
  font-weight: 400;
  color: #007bff;
  margin: 0 !important;
}
